.carritoTotal {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    padding-top: 1rem;
  }
  
  .botonCompra {
    background-color: #ff4500;
    color: white;
    width: 30%;
    margin-bottom: 2rem;
  }